{
  "log": {
    "_recordingName": "recordings",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a8ac5c84ab9eb2a2af5b217605248293",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdXRoMC11c2VyaWQiOiJhdXRoMHw1ZWZjMjg3ZmM0ODgwMTAwMTM0NGY5MjMiLCJkZXZpY2UtZGVzYyI6ImJyb3dzZXItY2hyb21lIiwiZGV2aWNlLWlkIjoiMWJkMWY5ZGItOGVjMy00ODAxLWIxYTAtOTI3MWY0ZjhjODIxIiwiaWF0IjoxNzEyMzE1NTQxLCJpc3MiOiJyTSBXZWJBcHAiLCJqdGkiOiJjazB0R1lpY0FHMD0iLCJuYmYiOjE3MTIzMTU1NDEsInN1YiI6InJNIERldmljZSBUb2tlbiJ9.TTZiz6OlT8pWEm5WRJWLQr-AwCNKkUOhynDt7LD8m-0"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://webapp-prod.cloud.remarkable.engineering/token/json/2/user/new"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 18,
            "text": "Too many requests\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            },
            {
              "name": "retry-after",
              "value": "0"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "0"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "52"
            },
            {
              "name": "x-cloud-trace-context",
              "value": "7d7b3eaa2ef652bee3db5e515a20ca9a"
            }
          ],
          "status": 429,
          "statusText": "OK"
        },
        "time": 75,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
